@using BlazorApp1.wwwroot.Classes;
@page "/"

<PageTitle>Startseite</PageTitle>

<h1>Hallo und herzlich Willkommen in unserem Diskussionsforum</h1>



<SurveyPrompt Title="How is Blazor working for you?" />

@code
{

    Task SomeStartupTask()
    {
        string error = "";
        bool connected = Applic Database.Connect(ref error);       
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await SomeStartupTask();
    }


}