@page "/"
@using Postgres_;

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code
{
    private  Postgres Database = new Postgres(false);

    Task SomeStartupTask()
    {
        string error = "";
        bool connected = Database.Connect(ref error);
        Response res = Database.ExecuteResetDBQuery();
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await SomeStartupTask();
    }


}