@using BlazorApp1.wwwroot.Classes;
@using BlazorApp1.Models;
@page "/"

<PageTitle>Startseite</PageTitle>

<h1>Hallo und herzlich Willkommen in unserem Diskussionsforum</h1>

<p>Auf dieser Webseite wollen wir über die wichtigsten Themen der Gegenwart diskutieren. Pragmatismus ist DAS Schlagwort.     </p>
<p>Erfahrungsgemäß hat die Bevölkerung wenig Einfluss auf die Poltiker. Dabei können Aufklärung der Bevölkerung und iniitierte Petionen
    ein zielführendes Mittel sein. Wir orientieren uns an der Volksabstimmung, die in Österreich möglich ist, und wollen eine ensprechende Version
    für das viel bevölkerungsstärkere Deutschland etablieren.
</p>
<p>Bitte bleibt dabei respektvoll und sachlich dieser Webseite wollen wir über die wichtigsten Themen der Gegenwart diskutieren. </p>


@code
{

}