@using BlazorApp1.wwwroot.Classes;
@page "/pageAdmin"

<PageTitle>Admin</PageTitle>

<h1>Mein Profil</h1>

<p>Mein Name ist Runner</p><br/>
<p>Ich habe 2 Posts erstellt</p><br />
<p>Registriert seit 06.01.2025</p>


<button class="btn btn-primary" @onclick="ResetDb">Datenbank zurücksetzen</button>

@code
{
    private Postgres Database = new Postgres(false);

    Task SomeStartupTask()
    {
        string error = "";
        bool connected = Database.Connect(ref error);         
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await SomeStartupTask();
    }

    private void ResetDb()
    {
        StreamReader sr = new StreamReader("Database.txt");
        string file = sr.ReadToEnd();
        file = file.Replace("\n", "").Replace("\r", "");
        Response res = Database.ExecuteResetDBQuery(file);
    }   


}