@using BlazorApp1.wwwroot.Classes;
@using BlazorApp1.Models;
@inject Application Application;
@page "/pageAdmin"

<PageTitle>Admin</PageTitle>

<h1>Admin</h1>

<button class="btn btn-primary" @onclick="ResetDb">Datenbank zurücksetzen</button>

@code
{
    private void ResetDb()
    {
        StreamReader sr = new StreamReader("Database.txt");
        string file = sr.ReadToEnd();
        file = file.Replace("\n", "").Replace("\r", "");
        Response res = Application.Database.ExecuteResetDBQuery(file);
    }   
}