@using BlazorApp1.Models;
@using BlazorApp1.wwwroot.Classes;
@inject Application Application;
@page "/pageTopic"

<PageTitle>Thema</PageTitle>


<button class="btn btn-primary" @onclick="ClickedWithSource">Mit Quelle</button>

<button class="btn btn-primary" @onclick="ClickedWithoutSource">Ohne Quelle</button>

<h1>Topic</h1>


<div class="form-group row">
    <EditForm Model="Page">
        <label>Titel: </label>
        <InputText style="width: 300px" @bind-Value="Page.Title"></InputText>
        <br />
        <label>Inhalt: </label> 
        <br />
        <InputTextArea style="text-align:start; width: 800px; height: 400px" @bind-Value="Page.Content"></InputTextArea>
    </EditForm>
</div> 

<br />
<button disabled="@disabled" class="btn btn-primary" @onclick="SavePost">Posten</button>
<br />
<br />
<br />
<br />
<button  class="btn btn-primary" @onclick="DoPetition">Starte eine neue Petition oder trete einer Petition bei</button>

@code {

    private bool disabled = false;
    private Page Page = new Page();


    private void SavePost()
    {
        Post newPost = new Post(-1, Page.Title, Page.Content, "Klimawandel", "Runner", -1,
        0, 0, DateTime.Now, DateTime.Now);
        bool success = Application.Database.InsertPost(newPost);
        Page.Title = "";
        Page.Content = "";
    }

    private void DoPetition()
    {
    }

    // private void TitleChanged()
    // {
    //     disabled = Page.title != "" && MyPost.content != "";
    // }

    // private void ContentChanged()
    // {
    //     disabled = MyPost.title != "" && MyPost.content != "";
    // }

    private void ClickedWithSource()
    {

    }

    private void ClickedWithoutSource()
    {

    }
}