@using BlazorApp1.Models;
@using BlazorApp1.wwwroot.Classes;
@page "/pageTopic"

<PageTitle>Topic</PageTitle>


<button class="btn btn-primary" @onclick="ClickedWithSource">Mit Quelle</button>

<button class="btn btn-primary" @onclick="ClickedWithoutSource">Ohne Quelle</button>

<h1>Topic</h1>


<div class="form-group row">
    <EditForm Model="Page">
        <label>Titel: </label>
        <InputText @bind-Value="Page.Title"></InputText>
        <label>Inhalt: </label>
        <InputText @bind-Value="Page.Content"></InputText>
    </EditForm>
</div> 



<button disabled="@disabled" class="btn btn-primary" @onclick="SavePost">Posten</button>

@code {
    private bool disabled = false;
    private Page Page = new Page();
    private Postgres Database = new Postgres(false);

    Task ConnectToDb()
    {
        string error = "";
        bool connected = Database.Connect(ref error);
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await ConnectToDb();
    }

    private void SavePost()
    {
        bool success = Database.InsertPost(Page.Title, Page.Content);
        Page.Title = "";
        Page.Content = "";
    }

    // private void TitleChanged()
    // {
    //     disabled = Page.title != "" && MyPost.content != "";
    // }

    // private void ContentChanged()
    // {
    //     disabled = MyPost.title != "" && MyPost.content != "";
    // }

    private void ClickedWithSource()
    {

    }

    private void ClickedWithoutSource()
    {

    }
}
