@page "/pageProfile"

<PageTitle>Mein Profil</PageTitle>

<h1>Mein Profil</h1>

<p>Mein Name ist Runner</p><br/>
<p>Ich habe 2 Posts erstellt</p><br />
<p>Registriert seit 06.01.2025</p>


@code
{
    
}