@using BlazorApp1.Models;
@using BlazorApp1.wwwroot.Classes;
@page "/pageTopic"

<PageTitle>Thema</PageTitle>


<button class="btn btn-primary" @onclick="ClickedWithSource">Mit Quelle</button>

<button class="btn btn-primary" @onclick="ClickedWithoutSource">Ohne Quelle</button>

<h1>Topic</h1>


<div class="form-group row">
    <EditForm Model="Page">
        <label>Titel: </label>
        <InputText @bind-Value="Page.Title"></InputText>
        <label>Inhalt: </label>
        <InputText @bind-Value="Page.Content"></InputText>
    </EditForm>
</div> 



<button disabled="@disabled" class="btn btn-primary" @onclick="SavePost">Posten</button>
<br />
<button  class="btn btn-primary" @onclick="DoPetition">Starte eine neue Petition oder trete einer Petition bei</button>

@code {

    private bool disabled = false;
    private Page Page = new Page();
    private Postgres Database = new Postgres(false);
    private Application? Application;

    public PageTopic()
    {
    }


    Task ConnectToDb()
    {
        string error = "";
        bool connected = Database.Connect(ref error);
        return Task.CompletedTask;
    }

    protected override async Task OnInitializedAsync()
    {
        await ConnectToDb();
    }

    private void SavePost()
    {
        Post newPost = new Post(-1, Page.Title, Page.Content, "Klimawandel", "Runner", -1,
        0, 0, DateTime.Now, DateTime.Now);
        bool success = Database.InsertPost(newPost);
        Page.Title = "";
        Page.Content = "";
    }

    private void DoPetition()
    {
    }

    // private void TitleChanged()
    // {
    //     disabled = Page.title != "" && MyPost.content != "";
    // }

    // private void ContentChanged()
    // {
    //     disabled = MyPost.title != "" && MyPost.content != "";
    // }

    private void ClickedWithSource()
    {

    }

    private void ClickedWithoutSource()
    {

    }
}